# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.idea
*.iml
target

# temp files
*~

# executable
alcyone

# CMake control/artifacts
CMakeCache.txt
CMakeFiles
cmake_install.cmake
